.caja {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  background: black;
  color: orange;
}

#posAbsoluto {
  position: absolute;
  top: 40px;
  left: 40px;
  background: green;
}
