.btnAnimado {
    background-color: black;
    color: white;
    padding: .5rem 1rem;
    border: 0;
    border-radius: 5px;
}

.btnAnimado:hover {
    background-color: gray;
    cursor: pointer;
    animation: flash; /* referring directly to the animation's @keyframe declaration */
    animation-duration: .5s; /* don't forget to set a duration! */    
    
}