@media only screen and (max-width: 1500px) {
	body {
	  background-color: yellow;
	  font-size: 1.5rem;
	}
}

@media only screen and (max-width: 1000px) {
	body {
	  background-color: blue;
	  font-size: 1rem;
	}
}

@media only screen and (max-width: 400px) {
	body {
	  background-color: lightblue;
	  font-size: .5rem;
	}
    .menu {
      display: none;
    }
}

@media only screen and (max-width: 400px) and (max-height: 300px) {
	body {
	  background-color: lightcoral;
	  font-size: .2rem;
	}
}

.menu {
    width: 30%;
}