.caja {
  /* position: fixed; */
  /* display: inline-block; */
  /* display: block; */
  /* display: inline; */
  /* display: inline-block; */
  /* display: none; */
  width: 50px;
  height: 50px;
  /* background: black; */
  padding: 20px;
  /* margin: 10px; */
  border: 2px solid black;
  background: red;
  color: gold;
  text-align: center;
}

#posAbsoluto {
  position: relative;
  top: 40px;
  left: 40px;
  background: green;
}
