.sticky {
    position: -webkit-sticky; /* se pone para que el Navegador Safari entienda el pos sticky*/
    position: sticky;
    top: 20px;
    left: 20px;
    padding: 5px;
    background-color: lightcoral;
    border: 2px solid ;
}

.stickyAbajo {
    position: -webkit-sticky; /* se pone para que el Navegador Safari entienda el pos sticky*/
    position: sticky;
    width: 100px;
    height: 50px;
    top: 90%;
    left: 20px;
    padding: 5px;
    background-color: green;
    border: 2px solid ;
}