* {
    cursor: pointer;
}


a {
    color: red;
}

.titulo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

div a {
    color: blue;
}

.presentacion {
    background-color: rgb(235, 233, 233);
    border-radius: 10px;
    margin: .5rem;
    padding: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.presentacion .titulo {
    font-size: 1.5rem;
    color: blue;
}

.presentacion .txtInicial {
    text-align: center;
    font-weight: bold;
    margin:.5rem;
    font-size: 1rem;
    padding: 1rem;
}

.presentacion .texto {
    text-align: justify;
    margin:.5rem;
    font-size: 1rem;
}

.presentacion .txtInicial a {
    background-color: lightgray;
    color: black;
}

.cursos {
    background-color: lightblue;
    border-radius: 10px;
    margin: .5rem;
    padding: 1rem;
}

.cursos .titulo {
    font-size: 1.5rem;
    /* color: red; */
    font-style: italic;
    margin: 1rem;
    text-align: left;
    margin-top: 2rem;
}

.cursos .texto {
    text-align: justify;
    margin:.5rem;
    font-size: 1rem;
}


.experiencia {
    background-color: lightcoral;
    border-radius: 10px;
    margin: .5rem;
    padding: 1rem;
}

.experiencia .titulo {
    font-size: 1rem;
    /* color: red; */
    /* font-style: italic; */
    margin: 1rem;
    text-align: left;
    margin-top: 2rem;
}

.experiencia hr {
    width: 300px;
    color: blue;
    margin-top: 1rem;
}

.experiencia .texto {
    text-align: justify;
    margin:.5rem;
    font-size: 1rem;
}

.textotitulo {
    text-align: justify;
    margin:.5rem;
    font-size: 1rem;

}

.textoSbutito {
    text-align: justify;
    margin:.5rem;
    font-size: 1rem;

}